<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akasa.kitafit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.test">

        </activity>
        <activity android:name=".activity.TutorialPenggunaanAplikasi" />
        <activity android:name=".activity.DetailProgramKesehatan" />
        <activity android:name=".activity.ProgramKesehatan" />

        <activity android:name=".activity.PostLiniMasa">
        </activity>

        <activity android:name=".activity.MainActivity"></activity>



        <activity android:name=".activity.Reminderku">

        </activity>
        <activity android:name=".activity.EditProfile">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.Profile">

<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->


<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity android:name=".activity.Register" />
        <activity android:name=".activity.Login" />
        <activity android:name=".activity.SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.Video">

        </activity>
        <activity android:name=".activity.Olahraga"></activity>
        <activity android:name=".activity.Homepage"></activity>
        <activity android:name=".activity.Daftar_Olahraga" />
        <activity android:name=".activity.Detail_Olahraga"></activity>
        <activity android:name=".activity.Aktivitas" />

        <receiver android:name=".adapter.NotifAlarm" />

        <provider
            android:name=".adapter.AlarmReminderProvider"
            android:authorities="com.delaroystudios.alarmreminder"
            android:exported="false" />

        <service
            android:name=".adapter.ReminderAlarmService"
            android:exported="false" />
    </application>

</manifest>